.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-primary);
  margin: 0 auto;
  margin-top: 32px;
}
.info {
  margin-bottom: 16px;
}
.info a {
  color: var(--color-primary-main);
}
.heart {
  color: red;
  margin-bottom: -2px;
}
.buttonGroup {
}
.button {
  color: currentColor;
}
.buttonHelp {
}
.buttonGithub {
}
